<div class="container">
  <h1>Wish List</h1>
  <div *ngIf="items.length === 0; else showItems">
    There are no wishes to display
  </div>

  <form style="display: flex; gap: 10px">
    <label class="wish-button-label">Wish</label>
    <input
      style="border: solid 2px gray; border-radius: 5px"
      type="text"
      name="new-wish-item"
      [(ngModel)]="newWishItem"
    />
    <button
      style="border-radius: 5px; background-color: #22bcfe; color: #fff"
      type="submit"
      class="btn-primary"
      (click)="$event.preventDefault(); addNewWish()"
    >
      Submit
    </button>
  </form>

  <ng-template #showItems>
    <ul *ngIf="items.length > 0" class="wish-list">
      <li *ngFor="let item of items">
        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              [checked]="item.isComplete"
              (click)="toggleItem(item)"
            />{{ item.wishText }}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>
</div>
